numpy
pandas
python-dotenv
matplotlib
seaborn
plotly
streamlit

ipykernel

langchain
langchain-core
langchain-community
langchain-ollama
langchain-groq
langchain-openai
langchain-google-genai
langchain-huggingface
langgraph

ollama
groq
openai
google-generativeai
faiss-cpu
pypdf
pypdf2
unstructured
docx
python-docx
wikipedia
youtube-search
google-api-python-client
arxiv

autogen
pyautogen

smolagents
transformers

exception