numpy
pandas
python-dotenv
matplotlib
seaborn
plotly

ipykernel

langchain
langchain-core
langchain-community
langchain-ollama
langchain-groq
langchain-openai
langchain-google-genai
langchain-huggingface

ollama
groq
openai
google-generativeai
faiss-cpu
pypdf
pypdf2

autogen

smolagents
transformers